
h1 {
	font-size: 48px;
}

body {
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
	background-color: #B3D67C;
	padding: 100px;
	color:#424242;
}

a{
	color: #1448CC;
	text-decoration: none;
}

a:hover {
	color: #b23c3c;
}

#masthead {

